

.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: right;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .header__lang-link {
    font-size: 1.3rem;
    line-height: 1.4;
  }
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 1.1rem;
    line-height: 1.4;
  }
}