@import url('./_underline/header__lang-link_underline.css');

.header__lang-link {
  font-style: normal;
  font-weight: normal;
  margin-left: 18px;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: right;
  color: #fff;
}

@media screen and (max-width: 320px) {
  .page__header {
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: right;
  }
}