@import url('./__list/places__list.css');

.places {
  display: flex;
  margin: 80px auto;
}

@media screen and (max-width: 768px) {
  .places {
    margin: 72px auto;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 64px auto;
  }
}