@import url('./__lang-link/header__lang-link.css');
@import url('./__lang-link/_activ/header__lang-link_active.css');
@import url('./__logo/header__logo.css');
@import url('./__links/header__links.css');
@import url('./__links-item/header__links-item.css');

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}