.lead__title {
margin: 0;
max-width: 720px;
font-style: normal;
font-weight: 900;
font-size: 6rem;
line-height: 1;
text-align: center;
color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 720px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 720px) {
  .lead__title {
    padding: 0 24px;
    font-size: 4rem;
    line-height: 1.1;
  }
}

@media screen and (max-width: 430px) {
  .lead__title {
    width: 380px;
    padding: 0 24px;
    font-size: 3rem;
    line-height: 1;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 288px;
    padding: 0 14px;
    font-size: 2.5rem;
    line-height: 1.1;
  }
}
