.intro__list-text {
  font-style: normal;
  font-weight: normal;
  font-size: 0.7rem;
  line-height: 1.6;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .intro__list-text {
    font-size: 0.75rem;
    line-height: 1.5;
  }
}
