@import url('./_hover/place__link_hover.css');

.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.25;
  text-decoration-line: underline;
  color: #FFFFFF;
}