.cover__background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url('../__overlay/images/overlay.png') no-repeat;
  background-size: cover;
  width: 100%;
  text-decoration: none;
}

.cover__background::after {
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('./image/na-sobakah.png');
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
}


.cover__background:hover::after {
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}
