.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 32px;
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 2rem;
    line-height: 1.1;
  }
}