@import url('./__title/place__title.css');
@import url('./__website/place__website.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__link/place__link.css');
@import url('./__image/place__image.css');
@import url('./__paragraph-box/place__paragraph-box.css');
@import url('./__paragraph/place__paragraph.css');

.place {
  width: 100%;
  display: grid;
  grid-template: 
    "title website"
    "image paragraph"
  ;
  grid-template-columns: fit-content(460px) fit-content(484px);
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: fit-content(440px) fit-content(456px);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: fit-content(340px) fit-content(352px);
    column-gap: 28px;
    row-gap: 48px;
  }
}

@media screen and (max-width: 375px) {
  .place {
    grid-template: 
    "title" 
    "image" 
    "paragraph"
  ;
    width: 100vw;
    justify-content: center;
    grid-template-columns: auto-fill;
    row-gap: 32px;
    column-gap: 0px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template: 
    "title" 
    "image" 
    "paragraph"
  ;
    width: 100vw;
    justify-content: center;
    grid-template-columns: auto-fill;
    row-gap: 32px;
    column-gap: 0px;
    margin-bottom: 48px;
  }
}