@import url('./__link-list/footer__link-list.css');
@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1184px;
}

@media screen and (max-width: 550px) {
  .footer {
    min-height: 310px;
    flex-direction: column;
    align-items: flex-start;
  }
}
