.page__photo-grid {
  max-width: 1184px;
  margin: 92px auto;
}

@media screen and (max-width: 1024px) {
  .page__photo-grid{
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .page__photo-grid{
    max-width: 720px;
    margin: 88px auto;
  }
}

@media screen and (max-width: 320px) {
  .page__photo-grid{
    max-width: 320px;
    margin: 64px auto;
  }
}