.page__cover {
  max-width: 1184px;
  margin: 92px auto;
}

@media screen and (max-width: 1024px) {
  .page__cover {
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .page__cover {
    margin: 88px auto;
  }
}

@media screen and (max-width: 375px) {
  .page__cover {
    margin: 64px auto;
  }
}

@media screen and (max-width: 320px) {
  .page__cover {
    margin: 64px auto;
  }
}